@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
$primary-color: #59FEBC;
$secondary-color: #DEFFE9;
body, html{
    margin: 0;
}

body{
    height: 100%;
    font-family: "Montserrat";
    display: none;
}

header{
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    background: white;

    a{
        text-decoration: none;
        color: black;
    }
    a.logo{
        font-weight: bold;
        text-transform: uppercase;
    }
    ul{
        list-style-type: none; 
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    li a{
        padding: 1em;
    }
}


.wrapper{
    display: grid;
    grid-template-columns: auto;
    color: white;
    section{
        padding: 3em;

        h1, h2, .read-btn{
            text-transform: uppercase;
            margin: 0;
        }
        h2{
            font-size: 1.4rem;
        }
        .read-btn{
            text-decoration: none;
            color: black;
            font-weight: bold;
            background: url("../images/arrow.svg") no-repeat;
            background-size: 8px;
            background-position: 0 1px;
            padding-left: 1em;
        }
        .primary{
            padding: 1.5em 1.5em 1.5em calc(3em + 25px);
            background-position: 3em;
            border: 1px solid white;
            display: inline-block;
            margin-top: 3em;
            margin-left: -3em;
            color: white;

        }
        .clipper{
            overflow: hidden;
        }

    }
    section.banner{
        padding-top: 8em;
        background: url("../images/bg.jpg");
        background-size: cover;

        p{
            font-size: 1.2rem;
            margin-bottom: 0;
            
        }
        h1{
            font-size: 2.4rem;
        }
    }
    section.skill, section.social{
        color: black;
        font-size: .9rem;
    }
    section.skill{
        background: $primary-color;
        
        p{
            width: 55%;
            line-height: 1.7em;
        }
        .read-btn{
            text-decoration: none;
            background: url("../images/arrow2.svg") no-repeat;
            background-size: 8px;
            background-position: 0 4px;
            padding-left: 1em;
            margin-top: 1em;
            display: block;
            background-position: 0 .3em;
            border: 2px solid black;

        }
        .secondary{
            padding: .5em 1em .5em calc(3em - 10px);
            background-position: 1em;
            border: 1px solid black;
            display: inline-block;
            margin-top: 1em;
            margin-left: 0em;
            color: black;
        }
    }
    section.social{
        background: $secondary-color;
        h2{
            margin-bottom: 20px;
        }
        .icons{
            margin-bottom: 1em;
            margin-top: -0.5em;
            font-size: 15pt;
        }
        a i{
            color: black;
            padding: 5px;
            margin-left: 20px;
            
        }
        p{
            margin-top: 1em;
            margin-bottom: -2.5em;

            .red{
                color: red;
                font-size: 15pt;
            }
        }
        
    }

}


@media only screen and (min-width: 760px){
    html{
        font-size: 18px;
    }
}

@media only screen and (min-width: 1020px){
    header{
        background: none;
    }
    .wrapper{
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "banner skill"
            "banner social";
        height: 100vh;
    }
    section.banner{
        grid-area: banner;
    }
    section.skill{
        grid-area: skill;
    }
    section.social{
        grid-area: social;
    }
    section.social p{

        padding-top: 5em;
    }
}
